{% extends 'base/base.html' %}

{% block content %}
<section class="barra-pesquisa"> 
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control campo-pesquisa" type="search" placeholder="Busque o nome ou número da chave aqui..." aria-label="Search"/>
            <button class="btn btn-pesquisa me-2" type="submit">PESQUISAR</button>
            <button class="btn btn-light rounded-pill shadow-sm btn-filtros" type="submit">FILTROS</button>
        </form>
    </div>
</section>

<section class="grade-cartoes">
    <div class="cartao">
        <div class="numero-sala">Sala 22</div>
        <div class="nome-sala">Grêmio</div>
        <div class="status-sala">Indisponível</div>
    </div>
</section>

<br>


<footer>
    <div class="paginacao">
        <button></button>
        <button>2</button>
        <button>3</button>
        <button>...</button>
        <button>10</button>
        <button></button>
    </div>
</footer>

{% endblock %}