{% extends 'base/base.html' %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
<main class="conteudo-sobre">
  <section class="texto-apresentacao">
    <h2>Bem-vindo ao "Tá com a Chave?!"</h2>
    <p>
      Cansado de ter que ir até a portaria só para descobrir que a chave da sala que você precisava já foi emprestada?
      Nós também! Por isso criamos este sistema inteligente de gestão e consulta de chaves...
    </p>
  </section>

  <aside class="equipe-desenvolvedora">
    <h3>EQUIPE DESENVOLVEDORA</h3>
    <ul>
      <li>Aluna 1</li>
      <li>Aluno 2</li>
      <li>...</li>
    </ul>
  </aside>
</main>
{% endblock %}
