{% extends 'base/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
  <h1 class="login-title">LOGIN</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
      <div class="alert alert-danger">{{ err }}</div>
    {% endfor %}
  {% endif %}

  <form method="POST" action="{% url 'login' %}" class="login-form">
    {% csrf_token %}

    <label for="usuario">USUÁRIO:</label>
    <input type="text" name="username" id="usuario" placeholder="Digite seu usuário..." required value="{{ form.username.value|default_if_none:'' }}">
    {% for err in form.username.errors %}
      <div class="text-danger small">{{ err }}</div>
    {% endfor %}

    <label for="senha">SENHA:</label>
    <input type="password" name="password" id="senha" placeholder="Digite sua senha..." required >
    {% for err in form.password.errors %}
      <div class="text-danger small">{{ err }}</div>
    {% endfor %}

    <button type="submit" class="btn-login">ENTRAR</button>
  </form>
</section>
{% endblock %}
