{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>

    <nav class="navbar navbar-expand-lg header">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="../../static/img/main-logo.png" class="img-fluid main-logo" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end me-2" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item bg-white rounded me-3">
                        <a class="nav-link text-black" aria-current="page" href="{% url 'sobrenos' %}"><img src="../../static/img/icons/sobrenos-icon.svg" class="img-fluid me-1" alt="">Sobre nós</a>
                    </li>
                    <li class="nav-item bg-white rounded">
                        <a class="nav-link text-black" href="{% url 'login' %}"> <img src="../../static/img/icons/login-icon.svg" class="img-fluid me-1" alt=""> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="under-header">
        <p>asdasdasd</p>
    </nav>

</body>
</html>

