* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.header{
  background-color: #FFDA0A;
}

.under-header {
  background-color: #2818BD;
  height: 1.5em;
  margin-bottom: 1em;
}

.main-logo {
  height: 6em;
  margin-left: 1em;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
  
  
.logo-area h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
  
.nav-buttons a,
.nav-buttons button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nav-buttons a:hover,
.nav-buttons button:hover {
  background-color: #e4e4e4;
}

.campo-pesquisa {
  border-radius: 2em 0em 0em 2em;
  border: #2818BD 2px solid;

}

.btn-pesquisa{
  border-radius: 0em 2em 2em 0em;
  border: #2818BD 2px solid;
  background-color: #2818BD;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn-pesquisa:hover{
  color: #2818BD;
  border: #2818BD 2px solid;
}

.btn-filtros {
  background-color: #dbdbdb; /* cinza claro */
  color: #7c8185; /* cinza do texto */
  border: #7c8185 2px solid;
  border-radius: 50px; /* arredondado */
  padding: 6px 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.btn-filtros:hover {
  background-color: #d5d5d5;
  color: #7c8185;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}


.login-title {
    font-size: 32px;
    font-weight: bold;
    color: #2b2bbd; /* azul */
    margin-bottom: 30px;
}


.login-form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}


.login-form label {
    font-weight: bold;
    color: #5fb44a; 
    margin-bottom: 5px;
    margin-top: 15px;
}


.login-form input {
    padding: 14px 18px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #2b2bbd;
    outline: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}


.login-form input::placeholder {
    color: #aaa;
}


.btn-login {
    margin-top: 30px;
    padding: 14px;
    background-color: #ffd400; 
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #e6bf00;
}
